In [5]:
import pandas as pd
import json
from pandas.io.json import json_normalize
js = pd.read_json('data/world_bank_projects.json')
#js.head()

# 1. Find the 10 countries with most projects

In [6]:
# List of Countrynames and their Project Count\n",
a = js[['countryname','project_name']].groupby('countryname').count()

#Sorting the Data in Descending order and printing Top 10
a.sort_values('project_name', ascending=False).head(10)

                                 project_name
countryname
People's Republic of China                 19
Republic of Indonesia                      19
Socialist Republic of Vietnam              17
Republic of India                          16
Republic of Yemen                          13
People's Republic of Bangladesh            12
Nepal                                      12
Kingdom of Morocco                         12
Republic of Mozambique                     11
Africa                                     11

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [171]:
import numpy as np
# load json as string\n",
js2 = json.load((open('data/world_bank_projects.json')))
 
# Get the Count of Project Themes\n",
js3 = json_normalize(js2, 'mjtheme_namecode')
# Original Dataset
js3 

# Show the Top 10 after sorting the Total counts in Descending order
js4 = js3.groupby(['code','name']).size().sort_values(ascending=False)
js4.head(10)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
dtype: int64

# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [167]:
import numpy as np
# load json as string\n",
js2 = json.load((open('data/world_bank_projects.json')))
 
# Get the Count of Project Themes\n",
js3 = json_normalize(js2, 'mjtheme_namecode')
# Original Dataset
#js3 
js4 = js3.replace('',np.NaN)

# Set Index and Create Ditionary with Code and Name
js5=  js4.groupby(['name','code']).size().to_frame()
js6=  js5.loc[:,'name':'code']
js6.reset_index(inplace=True)
js6.set_index('code',inplace=True)
js7 = js6.to_dict() #DICTIONARY

# Set Index for the Actual Dataset
js4.set_index('code',inplace=True)

# Replace the missing names in the original Dataset with Dictionary values
js4['name'].update(pd.Series(js7a))

# Show the Top 10 after sorting the Total counts in Descending order
js4.groupby(['code','name']).size().sort_values(ascending=False)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
3     Rule of law                                      15
dtype: int64